<ul class="posts">
  {% assign posts = include.posts %}
  {% assign is_compact = false %}

  {% if include.is_compact %}
    {% assign is_compact = include.is_compact %}
  {% endif %}

  {% for post in posts  %}
    <li class="posts-item">
      <div class="post">
        <h2 class="posts-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-metas">
          <time datetime="%Y-%m-%d">{{ post.date | date: "%Y.%m.%d" }}</time>
          {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>

        {% unless is_compact %}
          <div class="posts-excerpt">
            {{ post.excerpt }}
            <a href="{{ post.url }}" class="read-more">読む</a>
          </div>
        {% endunless %}
      </div>
    </li>
  {% endfor %}
</ul>
