// --------------------------------
// Root
// --------------------------------

html {
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

html, body {
  font-size: 100%;
}

// --------------------------------
// Heading
// --------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
dl {
  padding: 0;
}

ul {
  list-style: none;
}

// --------------------------------
// Text
// --------------------------------

p {
  font-size: $font-size-text-medium;
  line-height: 1.6;
}

time {
  font-size: $font-size-text-small;
}

a {
  --color-link-underline: #{$color-text-link};
  --size-background-height: 2px;
  --color-text-border: #fff;

  color: $color-text-black;
  text-decoration: none;
  background-image: linear-gradient(to top, var(--color-link-underline) 100%, transparent 0);
  background-repeat: no-repeat;
  background-size: 100% var(--size-background-height);
  background-position: bottom;

  &:hover, &:active, &:focus {
    --color-link-underline: #{$color-text-link};
    --size-background-height: 100%;
    text-shadow: none;
  }

  &:active, &:focus {
    position: relative;
    top: 1px;
  }
}
