.posts {
  margin-top: 0;
}

.posts-item {
  margin: $spacing-xxx-large 0;

  &:first-child {
    margin-top: 0;
  }
}

.posts-title {
  margin: 0 0 .75rem;
  letter-spacing: .05em;
  font-size: $font-size-text-large;
  line-height: 1.2;

  a {
    --color-link-underline: #{$color-text-link};
    --size-background-height: 0.3rem;
    text-shadow: none;

    &:hover, &:active, &:focus {
      --size-background-height: 100%;
      text-shadow: none;
    }
  }
}


.posts-excerpt {
  margin: .75rem 0;

  p {
    margin: 0 0 .5rem;
  }
}
