.post-header {
  margin-bottom: $spacing-xxxx-large;
}

.post-title {
  font-size: $font-size-text-x-large;
  letter-spacing: .05em;
  margin: 0 0 $spacing-x-small;
  line-height: 1.5;
}

.post-metas {
  margin: 0 0 .75rem;
}

.post-content {

  &#{&}--in-article {
    p {
      line-height: 2;
      font-size: $font-size-article-text;
      letter-spacing: .005em;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    margin-bottom: $spacing-medium;
    line-height: 1.2;
  }

  h2,
  h3,
  h4,
  h5 {
    + p {
      margin-top: $spacing-large;
    }
  }

  h2 {
    margin-top: $spacing-xxxxx-large;
    margin-bottom: $spacing-large;
    font-weight: normal;
    border-bottom: 1px solid #ccc; 
    padding-bottom: .5rem;
    font-size: $font-size-text-large;
  }

  p {
    margin: $spacing-x-large 0;
  }

  ul, ol {
    margin-top: $spacing-x-large;
    margin-bottom: $spacing-x-large;
    
    ul, ol {
      margin-top: $spacing-small;
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 1em;
  }

  ul > li {
    list-style: disc;

    &:nth-child(n + 2) {
      margin-top: $spacing-medium;
    }
  }

  ul > li li {
    list-style: circle;

    &:nth-child(n + 2) {
      margin-top: $spacing-x-small;
    }
  }
}

.postFooter-nav {

  &_item {
    margin-right: 2rem;

    &:nth-child(n+2) {
      margin-top: $spacing-medium;
    }
  }

  &_label {
    display: block;
  }
}